@using Autho.Controllers
@using Autho.Models
@{
    ViewBag.Title = "Duces";
}

<h2>Duces</h2>

@using (Html.BeginForm())
{
    @Html.Hidden("Name", "Carl")
    @Html.Hidden("LifeQuote", "Perspective is worth 80 IQ points")
    @Html.Hidden("Title", "Pancake King")
    @Html.Hidden("Kills", 12)
    <button type="submit">Submit</button>
}

<button type="button" id="slap">Slap that Ajax</button>
<br />
@Html.RadioButton("generous", "yes", false, new { id = "gen-yes" })
@Html.Label("gen-yes","Yes")
@Html.RadioButton("generous", "no", false, new { id = "gen-no" })
@Html.Label("gen-no","No")
<button type="button" id="zilch">Give them nothing</button>
<script>
    $(function () {
        $("#slap").click(function () {
            $.ajax({"url":"@Url.Action(nameof(HomeController.SlapThatAjax))",
                "type": "POST",
                "data": {
                    "Molina.Name": "Dory",
                    "Molina.LifeQuote": "Work Smarter, not Harder",
                    "Campbell.Title": "Killmeister",
                    "Campbell.Kills":"18"
                }
            });
        });

        $("#zilch").click(function () {

            var data = {};
            data.@(nameof(NiloModel.WildNum)) = 2;
            var choice = $("input[name='generous']:checked").val();
            choice === "yes" && (data.@(nameof(NiloModel.testList)) = ["Gator","Gato","Gateling"]);

            $.ajax({
                "url": "@Url.Action(nameof(HomeController.ConNilo),"Home")",
                "type": "POST",
                "data":data
            });
        });
    });
</script>